form button{
    transition: all .2s;
}

#formImg{
    transition: all .5s;
}

.fordform {
    display: block;
    width: 360px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    height: 26px;
    margin: 8px;
    font-size: 13px;
    padding: 5px;
}

textarea{
    resize: none;
    max-width: 360px;
    min-height: 200px;
}

textarea:focus{
    outline: none;
}

select.fordform {
    width: 370px;
    height: 36px;
    color: #807d7d;
}

input:focus-visible {
    outline: none;
}

select:focus-visible {
    outline: none;
}

main div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
}

.forms {
    display: block;
    text-align: center;
    padding: 30px 0 0 0;
}

h2 {
    text-align: left;
    font-weight: 800;
}

.disable-button{
    background-color: #807d7d;
    &:hover{
        background-color: #555;
    }
}

button {
    width: 200px;
    height: 40px;
    margin-right: 8px;
    float: right;
}

button:hover{
    transform: scale(1.1);
}

.titulo {
    margin-left: 8px;
}

.lgpd{
    padding: 0;
    text-align: justify;
    margin: 0 15px 10px 15px;
    .lgpd-text{
        font-size: small;
        color: #555;
        margin-bottom: 5px;
    }
    .lgpd-checkboxes{
        font-size: small;
        display: block;
        padding: 5px 0;
    }
}

.lgpd-box{
    display: inline-block;
    vertical-align: middle;
    scale: 1.2;
}

.agreement{
    display: inline-block;
    vertical-align: middle;
}

form{
    max-width: min-content;
}